<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4">
	<div class="schedule">今後の予定一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title , blog %></td>
        <td><%= blog.start_time.strftime("%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% unless @blogs.length == 0 %>
    <% time1 = Date.today %>
    <% time1 %>
    <% time2 = @blogs.last %>
    <% time2 = time2.start_time %>
    <% time2 %>
    <% time3 = time1 - Date.parse(time2.to_s) %>
    <%= time3.to_i %>日うんちが出ていません
  <% end %>


<%= form_with(model: @blog, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">時間</div>
    <%= form.date_select :start_time %>
  </div>

 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <% if blog.id == 5 %>
        <%= image_tag "iggy.png" %>
      <% end %>
      <%= link_to blog.id, blog %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>